table.table tr td div.action-group {
    display:none;
}

table.table tr:hover td div.action-group {
    display:inline-block;
}

.swing {
	-webkit-animation-duration: 4s;
    -webkit-animation-delay: 2s;
    /*-webkit-animation-iteration-count: infinite; */
}